<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="login-usuario">
  <template>
    <style>

      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <input placeholder="email" type="email" value="{{email::input}}"> </input>
  <input placeholder="password" type="password" value="{{password::input}}"> </input>
  <button on-click="login">Login</button>
  <!--<span hidden$="{{!logged}}">
    <h1> estás logado!!</h1>
  </span>-->

<iron-ajax
  id="doLogin"
  url="http://localhost:3000/apitechu/v2/login"
  method="POST"
  content-type="application/json"
  handle-as="json"
  on-response="manageAjaxResponse"
  on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          email: {
            type: String
          },
          id: {
            type: Number
          },
          password: {
            type: String
          },
          logged: {
            type:Boolean,
            value:false
          }
        };
      }
      manageAjaxResponse (data){
        console.log("manageAjaxResponse");
        console.log(data.detail.response);
        this.logged = true;
        window.location = "user/" + data.detail.response.userId;
      }

      showError (error){
        console.log("Se ha producido un error");
        console.log(error);
      }

      login (data){
        console.log("function login: se ha pulssado el botón");
        var loginData = {
          "login" : this.email,
          "password" : this.password
        };

        //para acceder a los elemenots del shadow dom con this.$
        this.$.doLogin.body = JSON.stringify(loginData);
        //hacer la llamada ajax
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
